@charset "utf-8";
body{
    overflow-y: auto;
}
#wrap{
    max-width:1920px;
    margin: 0 auto;
    height:100vh;
    background: url(../img/1_beijing.png) no-repeat center center;
    .content{
        width:1200px;
        height:100vh;
        margin: 0 auto;
        position: relative;
        .box{
            width:902px;
            height:522px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            .outer{
                width: 100%;
                height:100%;
                border: 2px solid #157dc9; 
                border-radius: 10px;
                background: #2488c9;
                box-shadow: 0 0 15px #57a8d0;
                padding: 17px;
                box-sizing: border-box;
                -webkit-box-reflect:  below 10px -webkit-linear-gradient(top,rgba(250,250,250,0) 60%, rgba(250,250,250,0.2) 100%);
                dl{
                    width:100%;
                    height:100%;
                    border: 1px solid #fff;
                    border-radius: 10px;
                    dt{
                        width:100%;
                        height:180px;
                    }
                    dd{
                        background: #fff;
                        height:305px;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        form{
                            width:100%;
                            height: 100%;
                            padding-top: 30px;
                            box-sizing: border-box;
                            color: #2388c9;
                            font-size: 24px;
                            p{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-bottom: 20px;
                                label{
                                    display: inline-block;
                                    width:80px;
                                    margin-right: 20px;
                                }
                                input{
                                    cursor: pointer;
                                }
                                .ipt1{
                                    width: 355px;
                                    height:46px;
                                    outline: 0 none;
                                    border: 1px solid #2388c9;
                                    font-size: 24px;
                                    text-indent: 10px;
                                }
                                span{
                                    display: inline-block;
                                    width:120px;
                                    display: flex;
                                    align-items: center;
                                    text-align: right;
                                    justify-content: center;
                                    margin: 0 12px 0 130px;
                                    font-size: 20px;
                                    cursor: pointer;
                                    i{
                                        display:inline-block;
                                        width:20px;
                                        height:20px;
                                        border: 1px solid #2388c9;
                                        box-sizing: border-box;
                                        margin-right: 10px;
                                    }
                                    .active{
                                        background: url(../img/1_xuanzhong.png) no-repeat center center;
                                        background-size: 20px;
                                        border: 0;
                                    }
                                }
                                .ipt2{
                                    width:130px;
                                    height:50px;
                                    border: 2px solid #137cc9;
                                    border-radius: 6px;
                                    line-height: 50px;
                                    text-align: center;
                                    outline: 0 none;
                                    color: #fff;
                                    font-size: 24px;
                                    background: #3facdc;
                                    box-shadow: 0 0 10px #5bcdeb inset;
                                }
                                .loginBtn{
                                    margin-right: 30px;
                                }
                                .active{
                                    background: linear-gradient(10deg,#717171 10%,#f1f1f1 100%)
                                }
                                
                            }
                        }
                        
                    }
                }
            }
        }
    }
    
}
