@charset "utf-8";
#wrap{
    max-width:1920px;
    margin: 0 auto;
    position: relative;
}
.fixBox{
    width:150px;
//  height:182px;
    padding: 20px 10px 15px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 5px;
    position: fixed;
    top: 200px;
    right: 20px;
    z-index: 999;
    a{
        width:100%;
        height:50px;
        border-bottom: 1px dashed #ccc;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #666;
        i{
            width:26px;
            height:26px;
            margin-right: 12px;
        }
    }
    a:first-child{
        color: #2388CA;
    }
    a:last-child{
        border-bottom: 0;
    }
}
#header{
    max-width:1920px;
    min-width: 1200px;
    height:530px;
    position: relative;
    nav{
        width:1200px;
        height:90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        margin: 0 auto;
        position: absolute;
//      position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%,0);
        z-index: 3;
        .logo{
            display: flex;
            align-items: center;
            >img{
                width:50px;
                height: 50px;
                margin-right:5px;
            }
            >span{
                font-size: 36px;
                letter-spacing: 5px;
            }
        }
        .nav{
            display: flex;
            align-items: center;
            li{
                padding: 0 25px;
                a{
                    color: #fff;
                }
                .active{
                    color: #2388ca;
                }
            }
        }
        .enter{
            display: flex;
            a{
               color: #fff; 
            }
            
        }
    }
    .swiper-container{
        width:100%;
        height:530px;
        z-index: 2;
        .swiper-pagination{
            span{
                width:16px;
                height:16px;
                background: rgba(0,0,0,0);
                border: 1px solid #fff;
            }
            .swiper-pagination-bullet-active{
                background: #02c1f3;
            }
        }
    }
}
#content{
    width:100%;
    background: #f1f1f1;
    padding-bottom: 60px;
    .conTop{
        width:100%;
        background: #fff;
        color: #666;
        >ul{
            width:1200px;
            margin: 0 auto;
            height:80px;
            display: flex;
            align-items: center;
            li{
                width:240px;
                height:40px;
                border-right: 1px solid #ccc;
                box-sizing: border-box;
                
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #666;
                    >i{
                        display: inline-block;
                        width:30px;
                        height:32px;
                        margin-right: 5px;
                    }
                }
                
            }
            li:last-child{
                border-right: 0;
            }
        }
        >p{
            width:1200px;
            margin: 0 auto;
            height:100px;
            text-align: center;
            line-height: 100px;
            >i{
                font-size: 32px;
                color: #f60;
                margin: 0 20px;
            }
        }
    }
    .brand{
        width:1200px;
        height:406px;
        margin: 30px auto;
        display: flex;
        justify-content: space-between;
        >img{
            width:240px;
            height:406px;
        }
        >ul{
            width:940px;
            height:406px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
            color: #666;
            font-size: 20px;
            li{
                width:230px;
                height:200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: #fff;
            }
            li:nth-of-type(-n+4)>i{
                display: inline-block;
                width:62px;
                height:60px;
                margin-bottom: 30px;
            }
            li:nth-of-type(n+5)>i{
                display: inline-block;
                width:130px;
                height: 36px;
                margin-bottom: 50px;
            }
            .active{
                box-shadow: 0 0 0 5px #eee;
            }
        }
    }
    .team{
        width:1200px;
        margin: 0 auto;
        >h2{
            width:100%;
            height:80px;
            line-height: 80px;
            text-align: center;
            font-size: 24px;
            color: #333;
            background: #fff;
        }
        >img{
            width:100%;
            height:302px;
        }
        >.process{
            width:100%;
            height:230px;
            padding: 0 60px;
            box-sizing: border-box;
            background: #fff;
            color: #333;
            margin-bottom: 30px;
            h3{
                font-size: 20px;
                text-align: center;
                padding: 30px 0;
                box-sizing: border-box;
            }
            .detail{
                display: flex;
                justify-content: space-between;
                font-size: 16px;
                color: #333;
                dl{
                    width:160px;
                    height:120px;
                    dt{
                        margin-bottom:10px;
                    }
                    dd{
                        color: #666;
                        line-height: 2;
                    }
                }
                >span{
                    display: inline-block;
                    width:38px;
                    height:12px;
                    margin-top: 30px;
                }
            }
            
        }
        .join{
            width:100%;
            height:350px;
            position: relative;
            >a{
                width:200px;
                height:60px;
                line-height: 60px;
                text-align: center;
                background: #2288c9;
                color: #fff;
                font-size: 20px;
                border-radius: 60px;
                position: absolute;
                left: 50%;
                bottom: 20px;
                transform: translate(-50%,0);
                z-index: 5;
            }
        }
    }
    
}
#footer{
    width:1200px;
    margin: 0 auto;
    padding: 50px 0 40px;
    box-sizing: border-box;
    color: #333;
    .top{
        display: flex;
        justify-content: space-between;
        position: relative;
        .line{
            width:3px;
            height:100px;
            position: absolute;
            top: 0;
            left: 670px;
            z-index: 5;
            background: url(../img/line.jpg) no-repeat center center;
        }
        .left{
            width:560px;
            display: flex;
            justify-content: space-between;
            >ul{
                width:80px;
                li{
                    font-size: 16px;
                    margin-bottom: 10px;
                    a{
                        color: #666;
                    }
                }
                li:first-child a{
                    color: #333;
                }
                .entry{
                    color: #fe0000;
                }
            }
            
        }
        .right{
            width:420px;
            display: flex;
            justify-content: space-between;
            .Rleft{
                width:200px;
                font-size: 16px;
                display: flex;
                flex-direction:column;
                >i{
                    padding-left: 70px;
                    margin: 10px 0 20px;
                }
            }
            .Rright{
                width:110px;
                >img{
                    width:110px;
                    height:110px;
                }
                >i{
                    display: inline-block;
                    width:110px;
                    text-align: center;
                    margin-top: 10px;
                }
            }
        }
    }
    >p{
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
    }
}
