@charset "utf-8";
body{
    background: #f1f1f1;
}
#header{
    width:100%;
    height:1rem;
    padding: 0 0.2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    background:#fff;
    position: fixed;
    top: 0;
    border-bottom: .01rem solid #ccc;
    i{
        width:1.2rem;
        height:100%;
        display: flex;
        align-items: center;
        background: url(../img/success_return.png) no-repeat left center;
        background-size: 0.22rem 0.38rem;
        em{
            margin-left: .3rem !important;
        }
    }
    span{
        font-size: 0.32rem;
    }
    b{
        width:1.2rem;
        height:100%;
    }
}
.headerFill{
    height: 1rem !important;
}
#content{
    width:100%;
    color: #333;
    h3{
        width:100%;
        height: .8rem;
        line-height: .8rem;
        background: #f1f1f1;
        color: #666;
        padding: 0 .3rem;
        box-sizing: border-box;
        
    }
    ul{
       width: 100%;
       padding: 0 .3rem;
       box-sizing: border-box;
       background: #fff;
       li{
           width:100%;
           height:.8rem;
           border-bottom: .01rem solid #ccc;
           display: flex;
           align-items: center;
           justify-content: space-between;
           em{
               display: inline-block;
               width: .24rem;
               height: .24rem;
               background: url(../img/arr.png) no-repeat center center;
               background-size: .24rem;
           }
       }
    }
    h4{
        width: 100%;
        height: .8rem;
        line-height: .8rem;
        padding: 0 .3rem;
        box-sizing: border-box;
    }
    p{
        width: 100%;
        padding: 0 .3rem;
        box-sizing: border-box;
        height: .8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        span{
            display: flex;
            align-items: center;
            i{
                display: inline-block;
                width:.4rem;
                height:.4rem;
                background: url(../img/fankui.png) no-repeat center center;
                background-size: .4rem;
                margin-right: .2rem;
            }
        }
        em{
            display: inline-block;
            width: .24rem;
            height:.24rem;
            background: url(../img/arr.png) no-repeat center center;
            background-size: .24rem;
        }
    }
}
