@charset "utf-8";
.header{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #19a5ff;
    font-size: 0.4rem;
    margin-top: 1.7rem;
    .logo{
        width:1.6rem;
        height:1.6rem;
        background: url(../img/login_logo.png) no-repeat center center;
        background-size: 1.6rem;
    }
}
#content{
    width:100%;
    .info{
        width:100%;
        padding:0.6rem 0.5rem 0.8rem;
        box-sizing: border-box;
        li{
            width:100%;
            height:1rem;
            box-sizing: border-box;
            border-bottom: 0.01rem solid #1ba6fe;
            display: flex;
            align-items: center;
            i{
                display: inline-block;
                width:1rem;
                height:1rem;
                background-size: 0.48rem 0.52rem !important;
            }
            input{
//              width:100%;
                height:0.4rem;
                font-size: 0.32rem;
                outline: 0 none;
                border: 0;
                border-left: 0.01rem solid #1ba6fe;
                text-indent: 0.42rem;
            }
            .checkCode{
                width:3rem;
            }
            .sendCode{
                width:2.2rem;
                height:0.4rem;
                text-align: center;
                border-left: 0.01rem solid #1ba6fe;
            }
        }
        li:nth-of-type(1) i{
            background: url(../img/login_person.png) no-repeat center center;
        }
        li:nth-of-type(2) i{
            background: url(../img/login_number.png) no-repeat center center;
        }
        li:nth-of-type(3) i{
            background: url(../img/login_password.png) no-repeat center center;
        }
    }
}
#footer{
    width:100%;
    .loginBtn{
        width:6.5rem;
        height:0.8rem;
        line-height: 0.8rem;
        text-align: center;
        background: #1ba6fe;
        color: #fff;
        font-size: 0.34rem;
        margin:0 auto;
        border-radius: 0.06rem;
    }
    p{
        height:0.4rem;
        margin-top: 0.56rem;
        display: flex;
        justify-content: center;
        a{
            padding: 0 0.5rem;
            color: #666;
        }
        .registerNow{
            border-right: 0.01rem solid #1aa6fe;
        }
    }
}
