body { background: #f1f1f1; }

#header { width: 100%; height: 1rem; padding: 0 0.2rem; box-sizing: border-box; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; color: #333; background: #fff; position: fixed; top: 0; border-bottom: .01rem solid #ccc; }
#header i { width: 1.2rem; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; background: url(../img/success_return.png) no-repeat left center; background-size: 0.22rem 0.38rem; }
#header i em { margin-left: .3rem !important; }
#header span { font-size: 0.32rem; }
#header b { width: 1.2rem; height: 100%; }

.headerFill { height: 1rem !important; }

#content { width: 100%; padding: .2rem .1rem; box-sizing: border-box; color: #333; }
#content textarea { width: 100%; outline: 0 none; border: 0; border-radius: .1rem; height: 5rem; background: #fff; padding: .5rem .1rem .2rem; box-sizing: border-box; font-size: .28rem; resize: none; }
#content .submit { width: 6.9rem; height: .7rem; line-height: .7rem; text-align: center; background: #2288ca; color: #fff; margin: .6rem auto 0; font-size: .32rem; border-radius: .35rem; }
